* {
    box-sizing: border-box;
}

body, ul,ol {    
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    background: #036276;
    margin-top: 10px
}

.info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 100px;
}

.logo {
    /* position: relative; */
    font-size: 27px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    color: #FFFFFF;
}

.content {
    padding: 55px 135px;
    font-family: Raleway, sans-serif;
    background: #212121;
    color: white;
    letter-spacing: 0.5px;
}

.content__title {
    border-bottom: 1px solid #036276;;
}

.content__text {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    font-size: 18px;
}

.menu {
    display: inline-block;
}

.footer {
    /* height: 225px; */
    font-family: Raleway, sans-serif;
    background: #036276;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1.5px; /*расстояние между буквами в слове*/
}

.footer__info { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text {
    position: relative;
    font-size: 26px; 
    line-height: 0.4; 

}

.footer__floor {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 81px;
    background: rgba(0, 0, 0, 0.15);
    
}

@media (max-width: 1100px) {
    .content {
        padding: 45px 66px;
    }
    .info {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    .info__content {
        background-image: url('./images/avatar-planshet.svg');
        }
}

@media (max-width: 500px) {
    .content {
        padding: 17px 15px;
    }
}



